<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの香りは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>国立科学博物館</h6>
    <p>日本で最も歴史のある博物館の一つ！迫力ある化石なども満載！</p>
    <p>清涼感があり、爽やかな印象</p>
  <% when ["1", "1", "1", "2"] %>
    <h6>品川水族館</h6>
    <p>イルカショーなども行われる人気の水族館！</p>
    <p>リラックス効果がある</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>科学技術館</h6>
    <p>楽しい科学と技術を身体全体を使って体感できる体験型施設！</p>
    <p>ストレスを緩和してくれる効果がある</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>荒川総合スポーツセンター</h6>
    <p>プール、卓球、バスケットボールなど多彩なスポーツを楽しめるスポーツ施設！</p>
    <p>気持ちを落ち着かせてくれる</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>井の頭自然文化園</h6>
    <p>吉祥寺にある動物と触れ合える素敵な施設♪近くの吉祥寺で買い食いも！</p>
    <p>幸福感を得やすい</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>江戸東京たてもの園</h6>
    <p>文化的価値の高い歴史的建造物があるレトロな野外博物館！インスタ映えも✨</p>
    <p>アンチエイジングにも最適</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>小田原城</h6>
    <p>難攻不落の城小田原城、標高約60メートルの最上階からの景色は絶景！</p>
    <p>万人受けしやすい</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>東京サマーランド</h6>
    <p>天候を気にせず遊べる日本最大級のプール！流れるプールも！</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>東京スカイツリー</h6>
    <p>世界一高いタワーとして開業したスカイツリー！高さ634mから東京を一望できる！</p>
    <p>美容効果が高い</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>チームラボプラネッツ TOKYO DMM</h6>
    <p>不思議な綺麗な世界に没入！インスタ映え確実の施設！</p>
    <p>甘くてフレッシュな、万能な香料</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>谷中銀座</h6>
    <p>昔ながらの雰囲気良き商店街！歩きながら見る沢山のレトロなお店は別格！</p>
    <p>官能的で重い香り</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>ジョイポリス</h6>
    <p>屋内型のテーマパーク施設！最新技術を駆使したアトラクションを楽しめる！</p>
    <p>魅惑的で色気のある香り</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>鉄道博物館</h6>
    <p>埼玉にある鉄道施設！実物の車両を展示する施設として鉄道好き必見！</p>
    <p>香水のアクセントとしてよく使われる</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>横浜にぎわい座</h6>
    <p></p>
    <p>上品で年齢を問わず人気が高い</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>中華街、氷川丸</h6>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>よみうりランド</h6>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>
  <% end %>
</div>

<%= link_to "一覧に戻る", posts_path %>