// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tamariba1{
    background-image: image-url('uwaaa.avif');
    width: 98vw;
    height: 800px;
}
.tamariba2{
    background-image: image-url('kari2.avif');
    width: 98vw;
    height: 800px;
}

.tamariba3{
    background-image: image-url('kari3.avif');
    width: 98vw;
    height: 800px;
}

.tamariba4{
    background-image: image-url('kari4.png');
    width: 98vw;
    height: 800px;
}