.profile{font-size: 60px;
text-align: center;
font-family: Segoe Script;}

.c-container{
    display: flex;
    justify-content: right;
    
}

.pro-container{font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-right: 160px;
    font-family: Segoe Script;
}
.character{margin-right: 120px;}


.text-ani_sample05 {
    margin : 2em 1em;
    border-radius:0.5em;
    background:rgb(20, 20, 183);
    overflow :hidden;
}
.text-ani_sample05 ul {
    margin:0;
    padding-left:100%;
    display : inline-block;
    white-space : nowrap;
    animation :flowing05 18s linear infinite;
    transform:translateX(0);
}

.text-ani_sample05 ul li {
    display:inline;
    margin:0 110px 0 0;
    font-size:25px;
    color:#22afc2;
}

@keyframes flowing05 {
  100% { 
      transform: translateX(-100%)
  }
}
    
.vertical-line {
        border-left: 1px solid #122f65; /* 線の色や太さを調整できます */
        
      }
      
.pro1-container{
    display: flex;
    text-align: center;
    padding: 0px 350px;
gap: 150px;
}

.prou-container{flex-wrap: wrap;}

.proiine-container{flex-wrap: wrap;}